html {
  height: 100%;
  font-family: var(--font-inter), sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg);
}

body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}
